aenum>=2.0.6
ephem>=3.7.6.0
skyfield
scipy
matplotlib>=2.1.2
numpy>=1.14.0
pandas>=0.22.0
pint>=0.8.1
pycairo>=1.16.2
python-igraph>=0.7.1.post6
requests-cache>=0.4.13
requests-mock>=1.12.1
seaborn>=0.8.1
svgwrite>=1.1.12
timezonefinder>=2.1.0
pytz>=2018.3
