matplotlib>=2.1.2
numpy>=1.14.0
pandas>=0.22.0
pint>=0.8.1
ephem>=3.7.6.0
python-igraph>=0.7.1.post6
seaborn>=0.8.1
pycairo>=1.16.2
timezonefinder>=2.1.0
pytz>=2018.3
requests-cache>=0.4.13
svgwrite>=1.1.12